body {
    background-color: #f1f1f1 !important;
}

.div1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.h1 {
    padding-top: 40px;
}

.p1 {
    padding-bottom: 10px;
}



.div3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Raleway", sans-serif;
}

.im1 {
    width: 100%;

}

.im2 {
    width: 100%;
    height: 200px;
}



.div4 {}

.button1 {
    background-color: #f1f1f1;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid;

}

.di {
    font-size: 15px;
    padding-left: 10px;
    font-family: "Raleway", sans-serif;
}


.button2 {
    background-color: #f1f1f1;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid;
    font-size: 15px;
}

.divbouton {
    display: inline-block;
    vertical-align: top;
    margin-right: 350px;
}

.divbouton1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 350px;
}

.divcom {
    display: inline-block;
    vertical-align: top;


}

.divcom1 {
    display: inline-block;
    vertical-align: top;


}

.div5 {
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.divleft {
    width: 55%;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.divright {
    display: inline-block;
    width: 35%;
    margin-right: 20px;
    vertical-align: top;
}

.div6 {
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.im3 {
    width: 100%;
}

.l1 {
    padding-left: 10px;
    font-size: 15px;
}

.l2 {
    padding-left: 10px;
    font-size: 15px;
}

ul {
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px
}

p {
    margin: 0px;
}

.li1 {

    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1 !important;
    padding-top: 10px;
    padding: 8px 16px;

}

.div9 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1 !important;
    padding-top: 10px;
    padding: 8px 16px;
}

.div10 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px !important;
    font-size: 10px;
}

.li2 {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px !important;
    font-size: 20px;
    text-align: right;
    display: flex;


}

.li4 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f1f1f1 !important;
    padding-top: 10px;
    padding: 8px 16px;
}

.li2:hover {
    background-color: gray;
}

.im4 {
    width: 55px;
    height: 55px;
    margin-right: 15px;

}

.sp1 {
    font-size: 18px !important;
    display: flex;
}

.p6 {
    font-size: 15px !important;
}

.div7 {
    background-color: #f1f1f1 !important;
}

.div10 {
    display: inline-block;
    background-color: white;
}

.div10 p {
    display: inline-block;
}

.div10 p {
    padding: 10px;
    background-color: #eee;
    width: fit-content;
    margin: 5px 0;

}

.div8 {
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}

.black-box {
    background-color: #000 !important;
    color: white;
}

footer {
    padding-top: 100px;
    width: 100%;
    color: #fff !important;
    background-color: #616161 !important;
    height: 150px;
}

.button3 {
    background-color: black;
    width: 200px;
    height: 50px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
}

.button3:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.p41 {
    color: white;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
}

a {
    color: white;
}

.button4 {
    background-color: #000;
    opacity: 0.5;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 15px;
    width: 90px;
    height: 35px;
}

.button5 {
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 15px;
    width: 90px;
    height: 35px;
}

.button4:hover {
    opacity: 0.2;
    cursor: not-allowed;
}

.button5:hover {
    background-color: rgb(143, 143, 143) !important;
    color: black !important;
}